name: create a release PR from `develop` to `main`

on:
  push:
    branches:
      - develop

jobs:
  create-release-pr:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.3
      - name: Create a release PR
        env:
          GIT_PR_RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_PR_RELEASE_BRANCH_PRODUCTION: main
          GIT_PR_RELEASE_BRANCH_STAGING: develop
          GIT_PR_RELEASE_TEMPLATE: .github/.git-pr-release
          GIT_PR_RELEASE_LABELS: release
          TZ: Asia/Tokyo
        run: |
          gem install -N git-pr-release -v "2.2.0"
          git-pr-release --no-fetch
